{
  "presets": ["env", "react"],
  "env": {
    "loose": true,
    "modules": false,
    "production": {
      "presets": ["react-optimize"]
    }
  },
  "plugins": [
    "dynamic-import-webpack",
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "transform-react-jsx-source",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}